body {
    background: url("/Assets/BGs/phonewallpaper2.jpg");
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
}

.appWrapper a,
footer a {
    color: #747474;
}


.appWrapper a:hover,
.appWrapper a:focus,
footer a:hover,
footer a:focus {
    color: black;
}

.appIcon {
    background-color: var(--bubblegum);
    border: 2px solid #ffffff;
    filter: drop-shadow(-1px 2px 3px rgba(0, 0, 0, 0.26));
}

.navDots.active {
    color: var(--wisteria);
}
.navDots.inactive {
    color: var(--deepslate);
}

#tray {
    background: #ffffffa9;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
}

.widgetColumn p {
    color: black;
}
