body {
    background: url("/Assets/BGs/darkMode/phonewallpaperB.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
}

.appWrapper a, footer a {
    color: #747474;
}

.appIcon {
    background-color: black;
    border: 2px solid white;
    filter: drop-shadow(-1px 2px 3px rgba(0, 0, 0, 0.26));
}

.appWrapper a:hover, 
.appWrapper a:focus, 
footer a:hover, 
footer a:focus {
    color: white;
}

.navDots.active {
    color: var(--persian);
}

.navDots.inactive {
    color: var(--deepslate);
}

tray{
    background: #000000a9;
    box-shadow: -1px 2px 3px rgba(255, 255, 255, 0.25);
}

#widgetColumn p {
    color: #747474;
}
