:root {

    /* Colors */
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --rosette: #ffbbc5;
    --persian: #f283b6;
    --wisteria: #8266ff;
    --kangel: #c3a3f6;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
    --water: #adcaff;
    --deepsea: #357ce6;
    --roseRed: #C71227;
    --rosePink: #FB003F;
    --blood: #800000;
    --deepslate: #696969;
    --cobblestone: #a8a8a8;
}

@font-face {
    font-family: lovelyMood;
    src: url('/fonts/yanFonts/LovelyMoodScript.ttf');
}

@font-face {
    font-family: heartBlood;
    src: url('https://iwishyouroses.neocities.org/fonts/yanFonts/HeartBlood.ttf');
}

#HarrowRing {
    margin: 0 auto;
    padding: 5px 15px;
    font-family: lovelyMood;

    background-color: black;
    border: 5px dashed var(--blood);
    border-radius: 10px;

    text-align: center;
    
    color: white;
}

#HarrowRing .webring-links a {
    color: var(--roseRed);
    text-decoration: none;
}

#HarrowRing .webring-info {
    text-align: center;
    font-size: 20px;
}

#HarrowRing .eyeCatcher {
    display: block;
    max-width:  50px;
    margin: 0 auto;
}