iwishyouroses.code-workspace
neocities/phonePages/polls.html
.DS_Store
neocities/testFolder/bearblog/bbblogtest.html
neocities/testFolder/bearblog/bbtest.html
neocities/testFolder/bearblog/css/bearblog.css
neocities/testFolder/achievements/testfile.html

neocities/testFolder/test.html
neocities/testFolder/statusCafe/iwishyouroses - Status Cafe_files/style.css
neocities/testFolder/statusCafe/iwishyouroses - Status Cafe.htm

neocities/lovesick.html
neocities/css/lovesick.css
neocities/phonePages/soon/nav.html
neocities/phonePages/soon/css/nav.css
neocities/phonePages/yourTome.html
neocities/phonePages/css/yourTome.css
neocities/testFolder/achievements/testfile.html