iwishyouroses.code-workspace
neocities/phonePages/polls.html
neocities/Assets/customNavIcons/customNavIcons.ai
neocities/testFolder/css/bearblog.css
neocities/testFolder/bbblogtest.html
neocities/testFolder/bbtest.html
.DS_Store
