body {
    background: url(/Assets/BGs/darkMode/galaxy.gif);
    color: white;
}

main {
    background: url(/Assets/BGs/darkMode/bydinpattern.com.png);

    border-style: solid;
    border-image: url("/Assets/borders/border2FP.png") 28 round;
    border-width: 28px;
    background-clip: padding-box;
}

#warnings {
    background-color: black;
    border: 5px solid var(--dustyPink);
}

.warningIMGs {
    border-bottom: 2px solid var(--wisteria);
}

strong{
    color: var(--persian);
    font-weight: normal;
}

#enter{
    color: var(--persian);
}

#enter:hover {
    color: var(--wisteria);
}