body {
    background: url(/Assets/BGs/453.gif);
}

main {
    background: url(/Assets/BGs/tex1.png);

    border-style: solid;
    border-image: url("/Assets/borders/border2FP.png") 28 round;
    border-width: 28px;
    background-clip: padding-box;
}

#warnings {
    background-color: var(--pinkIce);
    border: 5px solid var(--dustyPink);
}

.warningIMGs {
    border-bottom: 2px solid var(--wisteria);
}

strong{
    color: var(--wisteria);
    font-weight: normal;
}

#enter{
    color: var(--wisteria);
}

#enter:hover {
    color: var(--persian);
}


#missing {
    right: 15em;
    bottom: 0;

    /* ! debug */
    /* color: black; */
    /* background-color: white; */
}

#missing:hover {
    color: var(--deepsea);
}