body {
    background: url("/Assets/BGs/darkMode/lace2.jpg");
    background-color: black;
}

#welcomeWrapper {
    background-color: black;
    color: white;

    border-top: 1px solid var(--persian);
    border-bottom: 1px solid var(--persian);
}

.themePreview {
    color: white;
}

.themePreview:disabled {
    color: gray;
}

body#loading {
    background-color: black;
    color: white;
}

.progressBar {
    background-color: var(--pinkIce);

    border: 2px dashed var(--persian);
}

#progress {
    background-color: black;
}