body{
    background: url("/Assets/BGs/kabe-cute18.gif");
}

#welcomeWrapper{
    background-color: white;
    color: black;

    border-top: 1px solid var(--persian);
    border-bottom: 1px solid var(--persian);
}

.themePreview{
    color: black;
}

.themePreview:disabled {
    color: gray;
}

.loading-screen {
    background-color: white;
    color: black;
}

.progress-bar {
    background-color: var(--pinkIce);

    border: 2px dashed var(--wisteria);
}

.progress {
    background-color: var(--bubblegum);
}
