body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--periwinkle);
    color: var(--nightSky);

    position: relative;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--wisteria);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--spaceDust);
}

header {
    background-color: var(--nightSky);
    color: var(--periwinkle);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 150px;
}

header nav a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

section {
    padding: 30px;
}

#hero {
    background: linear-gradient(to bottom, var(--wisteria), var(--nightSky));
    padding: 100px 20px;
    text-align: center;
    color: var(--periwinkle);
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
}

#milestones {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--periwinkle);
}

#milestones .event {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

#milestones .event::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--nightSky);
}

#milestones .event .year {
    font-size: 24px;
    font-weight: bold;
    color: var(--nightSky);
    z-index: 1;
}

#milestones .event .description {
    font-size: 16px;
    color: black;
    margin-left: 20px;
    transition: color 0.3s ease;
}

#milestones .event:hover .description {
    color: var(--wisteria);
}

footer {
    width: 100%;
    padding: 20px;
    background-color: var(--nightSky);

    color: var(--periwinkle);
    text-align: center;
    font-size: 14px;
}

footer a {
    color: var(--periwinkle);
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--wisteria);
}

footer.visible {
    bottom: 0;
}