body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/Assets/BGs/darkMode/tumblr_inline_ml7y41pbH91qz4rgp.gif);
    background-position: center;
}


#wrapper {
    border: 1px solid var(--blood);
}

header {
    background: url("/Assets/BGs/darkMode/stars.gif");
    border-bottom: 1px solid var(--blood);

    color: white;
}