:root {

    /* Colors */
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --rosette: #ffbbc5;
    --persian: #f283b6;
    --wisteria: #8266ff;
    --kangel: #c3a3f6;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
    --water: #adcaff;
    --deepsea: #357ce6;
    --roseRed: #C71227;
    --rosePink: #FB003F;
    --blood: #800000;
    --deepslate: #696969;
    --cobblestone: #a8a8a8;

    /* Rainbow Ring Colors */

    --rainbowRed: #ffadad;
    --rainbowOrange: #ffdea1;
    --rainbowYellow: #ffffb5;
    --rainbowGreen: #c2ffc2;
    --rainbowBlue: #b8d4ff;
    --rainbowIndigo: #9e97e0;
    --rainbowPurple: #cfb0ff;
    --rainbowPink: #ffd8f2;

    /* Globals */
    --globalBorderRadius: 10px;
    --detailBarHeight: 20px;
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    width: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;

    font-family: cafesweet;
    word-wrap: break-word;
    line-height: 25px;
    word-spacing: 4px;
    color: black;
}

#wrapper-index {
    flex: 1;
    display: flex;
    justify-content: center;

    background: var(--dustyPink);
    padding: 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

main::after {
    content: "";
    position: absolute;

    height: 100%;
    width: 60px;
    background: url("/Assets/other/dither_it_spiralrings.png") center/contain no-repeat;


}

.paper {
    flex: 1 1;
    height: 100%;
    background: url("/Assets/BGs/linedpaper.jpg");
    background-size: contain;
    border: 1px solid lightblue;
}

.left {
    border-radius: 5px 0px 0px 5px;
    
    padding: 15px 25px;
    overflow: auto;
}
.right { 
    padding: 15px 25px;
    border-radius: 0px 5px 5px 0px;
    overflow: auto;
}