@import url("keyscollected.css");

/* ~ General */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;

    background-color: black;
    color: white;
    

    justify-content: center;
    align-items: center;
    font-family: Normal;
    font-size: 30px;
}

.flex {
    display: flex;
}

.columnFlex {
    display: flex;
    flex-flow: column nowrap;
}

/* ~ Layout */

#gameContainer {
    width: 53vw;
    min-width: 800px;
}

#main {
    height: 60vh;
    justify-content: center;
}

/* ! TO THE LEFT */

#leftSide {
    flex: 1 1;
}

#hangmanTitle {
    display: flex;
    border: 5px white solid;
    padding: 6px 10px 8px;
    margin: 0 3px 3px 0;
}

#instructions {
    border: 5px white solid;
    padding: 5px;
    margin: 0 3px 3px 0;
}

/* ? The list */

#keysList {
    position: relative;
    overflow: auto;
    align-items: center;
    margin-right: 3px;
    padding: 15px 0;
}

#hangmanTitle img, #hangmanWord img, .keypreview {
    width: 1.3em;
}


#downTriangle {
    position: fixed;
    width: 14px;
    height: 8px;
    animation: triangleMove .5s infinite;
}

@keyframes triangleMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
}

.key-item {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
}
.keypreview{
    min-height: 39px;
    margin-right: 20px;
}

#keysList label{
    font-size: 35px;
    line-height: 25px;
}

#keysList .cursor{
    left: -12%;
    width: 55px;
    height: 25px;
    animation: cursorMove .5s infinite;
}

@keyframes cursorMove {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2px);
    }
}


#keysList,
#hangmanContainer {
    border: 5px white solid;
}

/* ! I FINALLY GOT THE CUSTOM CHECKBOXES TO WORKKKKKK */

#keysList .key-item input[type="checkbox"] {
    display: none;
}

#keysList .key-item input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: cover;
    border: 4px solid white;
    background-color: black;
    margin-right: 5px;
    cursor: pointer;
}

#keysList .key-item .checkbox-label {
    margin-left: auto;
}

#keysList .key-item input[type="checkbox"].correct:checked + label::before {
    background-image: url("../Assets/hangman/hangmanCorrect.png");
}

#keysList .key-item input[type="checkbox"].incorrect:checked + label::before {
    background-image: url("../Assets/hangman/hangmanIncorrect.png");
}

/* ~ TO THE RIGHT NOW YALL */

#hangmanContainer {
    background: url("../Assets/hangman/hangmanBG.png");
    background-size: cover;
    flex: 0 1 37%;
    justify-content: space-between;
    overflow: hidden;
}

#incorrectLetters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
    gap: 4px;
}

#localStorageClear{
    align-self: flex-end;
    margin: 5px;
}

#incorrectLetters img {
    width: 1.8em;
}

/* ! The Word */

#hangmanWord {
    display: flex;
    flex-flow: row wrap;
    border: 5px solid white;
    justify-content: center;
    margin: 3px 0 0;
    padding: 20px 10px;

    row-gap: 10px;

}
.word-section{
    display: flex;
    flex-flow: row wrap;
    min-height: 30px;
}

.word-section .letter {
    margin: 0 5px;
    border-bottom: 2px solid white;
    text-align: center;
    width: 30px;
    min-height: 40px;
}

.word-section .revealed {
    border-bottom: none;
}

.word-section .space {
    margin: 0 5px;
    font-size: 24px;
    width: 24px;
    text-align: center;
    border-bottom: none;
}

/* ~ Flip animations */
@keyframes first-flip {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    50% {
        transform: perspective(400px) rotateY(180deg);
    }

    100% {
        transform: perspective(400px) rotateY(360deg);
    }
}

@keyframes second-flip {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    50% {
        transform: perspective(400px) rotateY(180deg);
    }

    100% {
        transform: perspective(400px) rotateY(360deg);
    }
}

@keyframes third-flip {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(360deg);
    }
}

.first-letter-animation {
    animation: first-flip .75s infinite;
}

.second-letter-animation {
    animation: second-flip .75s;
}

.third-letter-animation {
    animation: third-flip .75s forwards;
}

/* ? ONE HOP THIS TIME */


/* ~ Other */

#keysList::-webkit-scrollbar {
    display: none;
}

#keysList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
    margin: 0;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 5px 7px;
}

canvas{
    max-height: 370px;
}

#debugButton{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    color: black;
    border: 2px solid black;
    transition: .25s;
}

#debugButton:hover{
    color: white;
    border: 2px solid white;
}

#debug{
    background-color: black;
    position: absolute;
    bottom: 0;
    display: none;

    padding: 10px;
}

/* Media Queries! */

@media only screen and (max-width: 600px) {

    body {
        height: auto;
    }

    .flex {
        flex-flow: column nowrap;
    }

    #gameContainer {
        width: 100vw;
        min-width: auto;
    }

    #main {
        height: auto;
    }

    #hangmanTitle,
    #keysList {
        margin-right: 0;
    }

    #keysList {
        max-height: 300px;
    }

    #keysList img {
        margin-right: 10px;
    }

    #keysList label {
        font-size: 25px;
        line-height: 25px;
    }

    #keysList .cursor {
        display: none;
    }

    #keysList .key-item input[type="checkbox"] + label::before {
        width: 25px;
        height: 25px;
    }

    #hangmanWord{
        flex-flow: row wrap;
        height: auto;
        padding: 15px 5px;
    }

    .word-section .letter {
        width: 25px;
    }

    #hangmanWord img{
        width: 1em;
    }

    #hangmanWord .space{
        width: 10px;
    }

    p{
        font-size: smaller;
    }
}