body{
    background: url(/Assets/navMap/BG.png);
    background-size: cover;
    background-attachment: fixed;
}


h2 {
    font-family: heartblood;
    text-transform: lowercase;
    font-size: 4.3em;
    line-height: .5em;
    font-weight: normal;

    color: var(--rosePink);
    -webkit-text-stroke: .4px white;
}

.navLink {
    font-family: cafesweet;
    font-size: 2em;
    color: white;

    border: 5px solid var(--roseRed);
    border-right: none;
    border-left: none;
}

.navLink:hover {
    color: var(--persian);
}

#topList .navLink {
    background-color: black;
}

#middleList .navLink {
    background-color: black;
}

/* #topList #about {
    background: url("/Assets/BGs/checkst-b.gif");
}

#topList #blog {
    background: url("/Assets/BGs/ht9-p.gif");
}

#middleList #mediaLogs {
    background: url('/Assets/BGs/alicebg2.gif');
} */

#middleList #credits {
    background: url('/Assets/BGs/darkMode/dots.png');
}