:root {

    /* Colors */
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --rosette: #ffbbc5;
    --persian: #f283b6;
    --wisteria: #8266ff;
    --kangel: #c3a3f6;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
    --water: #adcaff;
    --deepsea: #357ce6;
    --roseRed: #C71227;
    --rosePink: #FB003F;
    --blood: #800000;
    --deepslate: #696969;
    --cobblestone: #a8a8a8;

    /* New Colors */

    --orangeCrush: #ff943d;
    --forestGreen: #075800;
    --codeOrange: #ffd2c07a;
    --bqGreenYellow: #d9ff9b71;

    /* Globals */
    --globalBorderRadius: 10px;
    --detailBarHeight: 20px;
}


body {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    background: url("/Assets/BGs/tumblr_inline_mqgagaPYfb1qz4rgp540.gif");
    background-size: 3.85em;


    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    flex: 0 1 50%;
}

main {
    height: 60vh;
    position: relative;

    background: url("/Assets/BGs/wovenwood.jpg");
    background-size: contain;

    padding: 40px;

    border-radius: 20px;

    display: flex;
    align-content: stretch;
}


/* ~ Content Layout */

header {
    flex: 0 0 90%;

    margin: 0 auto;

    position: relative;
    text-align: center;

    background: linear-gradient(180deg, var(--roseRed) 0%, var(--roseRed) 100%), url("/Assets/BGs/wood2.jpeg");
    background-blend-mode: color;
    background-size: contain;

    padding: 30px;
    padding-bottom: 0;

    border-radius: 50% 50% 0 0;
}

#content {
    background: url("/Assets/BGs/tumblr_inline_mqgagaPYfb1qz4rgp540.gif");
    background-size: 3.85em;

    border-radius: 50% 50% 0 0;
}

header p {
    font-family: "FoxRelish", Helvetica, sans-serif;
    font-size: 2em;
    color: var(--roseRed);
}

nav {
    flex: 1 0 15%;

    background: url("/Assets/BGs/tex2.png");
}

nav h2,
#home h1 {
    font-family: "Arial", Helvetica, sans-serif;
    color: var(--forestGreen);
}

nav h2 {
    text-align: center;
}

nav ul {
    padding: 0;
}

nav li {
    background: url("/Assets/BGs/picnic.jpg");
    background-position: center;
    padding: 10px 0 10px 7px;
}

nav a {
    color: black;
    text-decoration: none;

    transition: color .25s;
}

nav a:hover {
    color: var(--forestGreen);
}

nav li::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/Assets/pixels/fd/orange.gif);
    background-size: contain;
    margin-right: 5px;
}

section {
    flex: 1 1 75%;

    background: url("/Assets/BGs/tex2.png");
    padding: 20px;

    height: 498px;
    overflow: auto;
}

nav,
section {
    padding-top: 50px;
}

section.active {
    display: flex;
}

nav a.active>li {
    background: url("/Assets/BGs/picnicB.jpg");
    background-position: center;
}

/* ~ Specifics */

/* ! Testing */

/* #home {
    display: none;
} */

/* #flexbox {
    display: none;
} */

/* ~ Decor */

#detailing {
    position: absolute;
    background: url('/Assets/other/middlepotLace/lace8.png'), url('/Assets/other/middlepotLace/lace14.png') repeat-x;
    background-size: contain;
    height: 80px;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 20;
    pointer-events: none;
}

/* ~ General */

* {
    scrollbar-width: thin;
    box-sizing: border-box;

    scrollbar-color: var(--roseRed) white;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--roseRed);
}

section h2,
section h3,
section h4,
section h5,
section h6 {
    margin: 15px 0;
}

section p, section blockquote {
    margin-bottom: 10px;
    line-height: 2em;
}

/* ~ Code Displays */

pre code.hljs {
    background-color: var(--codeOrange);
    border-radius: var(--globalBorderRadius);
}

/* & Code Playgrounds! */

codePlayground {
    display: flex;
    flex-flow: row wrap;

    gap: 5px;

    margin: 10px 0;
}

.inputWrapper {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column wrap;
}

textarea {
    display: block;
    height: 130px;
}

.preview {
    flex: 1 1;
    border: 2px solid var(--orangeCrush)
}

strong code {
    font-weight: normal;
}

blockquote {
    margin: 10px 0;
    padding: 20px;
    background-color: var(--bqGreenYellow);
}