
body {
    background: url("/Assets/BGs/darkMode/cloudynite.gif");
    font-family: cafesweet;
    color: white;
}

#wrapper {
    background: url("/Assets/BGs/darkMode/stripes.gif");

    border-style: solid;
    border-image: url("/Assets/borders/HILLHOUSELace.png") 60 round;
    border-width: 50px;
    background-clip: padding-box;
}

aside {
    background: url("/Assets/BGs/darkMode/scratches.png");

    border-style: solid;
    border-image: url("/Assets/borders/lbborder.png") 9 round;
    border-width: 9px;
    background-clip: padding-box;
}

/* Middle */

main section {
    background: url("/Assets/BGs/darkMode/yb2.jpg");

    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;
}

#ryoba {
    border-style: solid;
    border-image: url("/Assets/borders/pinkHearts.png") 7 round;
    border-width: 7px;
    background-clip: padding-box;
}

.boxes th,
.boxes td {
    border: 2px dashed var(--wisteria);
}

/* Right-side */

aside section {
    background: url("/Assets/BGs/iDAfjUq.gif");

    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;
}

hr {
    width: 100%;
    border: 2px dashed var(--dustyPink);
}

h2 {
    font-family: "maddison", Helvetica, sans-serif;
    font-size: 2.3em;
    letter-spacing: -5px;

    height: 50px;

    color: var(--persian);
}

h2 span {
    display: inline-block;
    height: inherit;
}

quote::before,
quote::after,
li::before {
    color: var(--persian);
}

li::before {
    content: "❤︎";
    font-size: 10px;
    margin-right: 3px;
    vertical-align: text-top;
}

.mark{
    background-color: var(--persian);
    color: black;
}

a{
    color: var(--deepsea)
}

h3{
    color: black;
}
