* {
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;

    overflow: hidden;
}

.homepage {
    display: flex;
    flex-flow: column wrap;

    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

#homepage1.active {
    transform: translateX(0);
}

#homepage1.hidden {
    transform: translateX(-100%);
}

#homepage1.active {
    transform: translateX(0);
}

#homepage2.hidden {
    transform: translateX(100%);
}
.appWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    column-gap: 10px;
    row-gap: 12px;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.app {
    /* width: calc(25% - 10px); */
    align-self: flex-start;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;

    text-decoration: none;

    transition: color .25s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.app p,
footer p {
    text-align: center;
    width:60px;
    font-size: 13px;
}

#column1 {
    height: 167px;
}

#column1 .app:first-of-type {
    margin-bottom: 12px;
}

#widgetColumn {
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 15px;
}

.widget {
    width: 160px;
    height: 150px;
    object-fit: cover;
    object-position: right;
    border-radius: var(--globalBorderRadius);
}

.appIcon {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 10px;
}

.appIcon img {
    width: 90%;
}

@keyframes appOpen {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appClose {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.app.UNF {
    color: red;
    cursor: not-allowed;
}

.app.UNF:hover {
    color: red;
}

.app.open {
    animation-name: appOpen;
}

.app.close {
    animation-name: appClose;
}

.swipeIcons {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: .5em;
    gap: 5px;

    margin: 5px 0;
}

.navDots {
    transition: color .25s;
}

footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 0 20px 10px;
}

#tray {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    border-radius: 20px;
}

.column2 p {
    width: unset;
}

#weatherWidget {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    background: linear-gradient(150deg, rgba(199, 115, 255, 1) 0%, rgba(255, 104, 104, 1) 39%, rgba(255, 104, 104, 1) 53%, rgba(255, 202, 127, 1) 100%);
    border-radius: 20px;

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;

    position: relative;
}

#weatherWidget p {
    width: unset;
    text-align: left;
}

#wwCityName {
    font-size: 20px;
    font-weight: bold;
}

#wwTemp {
    font-size: 40px;
}

#wwWeatherIcon {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 30px;
}

#weatherWidget .weatherIcon iconify-icon {
    /* Modify per season */

    color: #C0C0C0;

    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}

#weatherWidget .weatherIcon>iconify-icon.sunny {
    color: #FFD700;
}

#weatherWidget .weatherIcon>iconify-icon.cloudy {
    color: #C0C0C0;
}

#weatherWidget .weatherIcon>iconify-icon.rainy {
    color: #2f44c0;
}

#weatherWidget .weatherIcon>iconify-icon.snow,
#weatherWidget .weatherIcon>iconify-icon.hail {
    color: #bad9f5;
}

#weatherWidget .weatherIcon>iconify-icon.snowstorm {
    color: #858ba8;
}

#weatherWidget .weatherIcon>iconify-icon.windy,
#weatherWidget .weatherIcon>iconify-icon.fog {
    color: #c7d3df;
}

#forecastContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4em;

    color: rgba(255, 255, 255, 0.575);
}

#wwBottom {
    width: 100%;
}

/* ? Downloaded App Icons */

#idolMessenger .appIcon {
    background-color: var(--wisteria);
}

#contactMe .appIcon {
    background-color: #090349;
}

#idolFinder .appIcon {
    background-color: #87b4e0;
}

#serenade .appIcon {
    background-color: #F01501;
}

#idolPet .appIcon {
    background-color: #428FF7;
}

#mellow .appIcon {
    background: linear-gradient(to bottom, #8affbd 0%, #ffaef2 100%);
}

#yourTome .appIcon {
    background-color: #3d2c29;
}

#treasurePlanet .appIcon {
    background-color: #b0e5ff;
}

#widgetsmith .appIcon {
    background-color: #b3bdb7;
}

#keyE {
    align-self: flex-start;
    width: 50px;
    height: 50px;

    image-rendering: pixelated;
}
