:root {
    /* OG Colors */
    --wisteria: #8266ff;

    /* Theme Colors */
    --blueDeep: #3c7fc2;
    --blue1: #87b4e0;
    --blue2: #96c0e6;
    --blue3: #a4c8e0;
    --blue4: #b4d6e7;
    --blue5: #bbdae6;
    --blue6: #BFD4DB;
}

body {
    background: url("/Assets/BGs/tumblr_ad479ccfea2121a711cc5099eff07479_82048f3a_75.gif");

    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(90deg, rgba(135, 180, 224, 1) 0%, rgba(150, 192, 230, 1) 25%, rgba(187, 218, 230, 1) 50%, rgba(150, 192, 230, 1) 75%, rgba(135, 180, 224, 1) 100%);

    padding: 20px 5px 10px;

    border-bottom: 1px solid black;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

#welcome {
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;

    padding: 5px;

    border-bottom: 1px solid black;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    padding: 10px;
}

button {
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

    flex: 0 1 45%;

    font-size: 16px;
    transition: color .25s;
}

button img {
    width: 100%;
    aspect-ratio: 1;

    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;
}

button:hover {
    color: var(--wisteria);
    cursor: pointer;
}

.personaIcon {
    width: 80%;
    aspect-ratio: 1;
    max-width: 220px;

    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;

    margin: 10px 0;
}

/* Popover functionality */

#popover {
    display: flex;
    position: fixed;

    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;

    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    max-width: 300px;
    height: 100vh;

    overflow: auto;
    overflow-x: hidden;

    border-radius: var(--globalBorderRadius);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

    background: url("/Assets/BGs/bgtf5b.gif");

    animation: popoverShow 0.3s ease-out forwards;

    /* ! Debug */
    /* top: 50%;
    display: flex; */
}

@keyframes popoverShow {
    from {
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
}

#popover.hide {
    display: none;
    animation: popoverHide 0.3s ease-in forwards;
}

@keyframes popoverHide {
    from {
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        display: flex;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.exit {
    font-size: 30px;
    color: red;

    position: absolute;
    top: 0;
    left: 0;
}

.exit:hover {
    cursor: pointer;
}

/* Popover Content */

.minorWarning {
    color: red;
}

section {
    width: 100%;

    background-color: var(--blue4);

    border-bottom: 1px solid black;
}

section:first-of-type {
    border-top: 1px solid black;
}

section:last-of-type {
    border: none;
}

table {
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 5px;
}

#persona,
#otherHeader {
    text-align: center;
}

#LandH,
#other {
    padding: 5px 10px;
}

/* ! Loves and Hates */

.loves::before,
.hates::before {
    content: "";
    vertical-align: text-top;
    margin-right: 5px;
    display: inline-block;
}

.loves::before {
    width: .8em;
    height: .8em;
    color: var(--wisteria);

    /* Icon from Iconify! */
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 4.529a6 6 0 0 1 8.242.228a6 6 0 0 1 .236 8.236l-8.48 8.492l-8.478-8.492a6 6 0 0 1 8.48-8.464'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.hates::before {
    width: .8em;
    height: .71em;
    color: red;

    /* Icon from Iconify! */
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1216 1312'%3E%3Cpath fill='%23000' d='M1202 1066q0 40-28 68l-136 136q-28 28-68 28t-68-28L608 976l-294 294q-28 28-68 28t-68-28L42 1134q-28-28-28-68t28-68l294-294L42 410q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294l294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68L880 704l294 294q28 28 28 68'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* ! Reputation */

.repbar {
    position: relative;

    width: 180px;
    height: 20px;
    background: linear-gradient(90deg, rgba(127, 91, 126, 1) 0%, rgba(127, 91, 126, 1) 25%, rgba(189, 157, 190, 1) 25%, rgba(189, 157, 190, 1) 75%, rgba(255, 223, 255, 1) 75%, rgba(255, 223, 255, 1) 100%);
    border: 1px solid black;
}

.repValue {
    font-size: 16px;
    text-align: center;
}

.slider {
    position: absolute;
    top: -25%;
    left: 0;
    width: 10px;
    height: 150%;

    background-color: white;
    box-shadow: inset 0 0 3px black;
    border: 1px solid black;

    transition: left .25s;
}

/* Site Button */

#siteButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 6px;
}

#siteButton img {
    display: block;
    margin: auto;
}

/* ~ Other General Styles */

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 0;
}


h2,
h3 {
    font-size: 2em;
}

h2,
h3 {
    font-family: MagicStars;
    color: var(--blueDeep)
}

h4 {
    font-family: diegovainilla;
    font-weight: normal;
}