:root {
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --persian: #f283b6;
    --wisteria: #9e66ff;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
}

@font-face {
    font-family: cafesweet;
    src: url('https://iwishyouroses.neocities.org/fonts/16ptpixels/CafeSweet.ttf');
}

body {
    font-family: cafesweet;
    background-color: var(--whispermist);

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 2px, transparent 2px), linear-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px);
    background-position: 0 0;
    background-size: 25px 25px;
}

.allMessages {
    margin: 7px;
    opacity: 0.75;
    transition: box-shadow .25s linear;
    box-shadow: 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 3px 4px #005;

    border: 1px solid #8888ff;
}

.allMessages:hover {
    opacity: 1;
}

.sent {
    border-radius: 20px 20px 0 20px;
    background-color: #FFF;
    color: #555;
}

.recieved {
    border-radius: 20px 20px 20px 0;
    background-color: var(--hintofmist);
    color: #333;
}

blockquote {
    background-color: var(--bubblegum);
    color: #FFF;
    opacity: 0.90;
    border-right: solid 2px #AAA;
}

.senderInfo{
    flex-wrap: nowrap;
}

.senderInfo::after {
    content: "★";
    font-size: 12px;
    margin-left: 2px;
    transform: rotate(20deg);
    vertical-align: top;

    color: var(--wisteria);
}

#background {
    scrollbar-color: var(--bubblegum) transparent;
}

#input {
    background-color: #FFF;
    border-radius: 0;
    border-top: 1px solid #8888ff;
    font-family: cafesweet;
}

#top_banner {
    display: none;
}

.mod,
.owner,
.tester {
    width: 0;
}

.mod::before {
    content: "";
    display: inline-block;
    color: var(--bubblegum);
    position: absolute;
    top: 7px;
    right: 7px;
}

.owner::before {
    content: "";
    display: inline-block;
    color: var(--wisteria);
    position: absolute;
    top: 7px;
    right: 7px;
}

.ctxMenuOption {
    background-color: var(--dustyPink) !important;
    color: #111;
}

.ctxMenuOption:nth-child(odd) {
    background-color: var(--persian) !important;
}

.ctxMenuOption:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

#ctxMenu {
    background-color: white !important;
}

#emojiTray {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 40px);
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 10, 0.24);
    color: black;
}

#emojiTay img {
    height: 15px;
}

#settingsMenu hr {
    border: none;
    height: 2px;
    background-color: var(--hintofmist);
    width: 100%;
}

#settingsMenu input[type=text] {
    border: solid 1px var(--hintofmist);
    border-radius: 1em;
    background-color: var(--dustyPink);
    color: black;
    outline: none !important;
}

#settingsMenu input[type=text]:focus {
    border: solid 2px white;
}

#save {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;

    border: solid 2px var(--bubblegum);
    background-color: #FFF;

    font-family: cafesweet;
    color: black;
    font-size: 16px;
}

.msgWrapper::before {
    content: "";
    width: 32px;
    height: 32px;
    margin: 4px;
    flex-shrink: 0;
    border-radius: 32px;

    background-size: cover;
}

.msgWrapper {
    display: flex;
}

.msgWrapper:has(.sent) {
    flex-direction: row-reverse;
}

/* Thank you to LilithDev for helping me with this! */

.msgWrapper:has(.owner)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/YanSim/pfp/ryoba1.jpg) !important;
}

.msgWrapper:has(.mod)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pripara/pfp/yui1.jpg) !important;
}

.msgWrapper:has(.beta)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pripara/pfp/laala.jpg) !important;
}

/* You can technically assign a pfp to a specific user as well if you desire using this selector, it uses the uid that is unique per user, you can view it in inspect element of the p element inside .msgWrapper
.msgWrapper:has([uid="WxRZ8bEBndfC3iF3MqwHksWv2oa2"])::before {
    background-image: url(https://lilithdev.neocities.org/shrine/vg/nso/sprites/icon_cho.png) !important;
} */

/* Random Icons */

.msgWrapper:nth-child(7n+0)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/idolmaster/pfp/anzu1.jpg);
}

.msgWrapper:nth-child(7n+1)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pripara/pfp/laala.jpg);
}

.msgWrapper:nth-child(7n+2)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pripara/pfp/yui1.jpg);
}

.msgWrapper:nth-child(7n+3)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pjsk/pfp/miku1.jpg);
}

.msgWrapper:nth-child(7n+4)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/idolmaster/pfp/kirari1.jpg);
}

.msgWrapper:nth-child(7n+5)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/idolmaster/pfp/riamu1.jpg);
}

.msgWrapper:nth-child(7n+6)::before {
    background-image: url(https://iwishyouroses.neocities.org/Assets/anime/pjsk/pfp/ena1.jpg);
}

@media (max-width: 200px) {
    .msgWrapper::before {
        display: none;
    }
}