body{
    display: flex;
    flex-flow: column wrap;

    background: url(/Assets/BGs/tumblr_inline_ml9aousyst1qz4rgp.gif);

    justify-content: center;

    overflow-x: hidden;
}

*{
    scrollbar-color: var(--bubblegum) #ffffff;
}

section {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

#topList {
    text-align: left;
    margin-bottom: 20px;
}

#bottomList {
    text-align: right;
}

.navLink {
    flex: 1 1;
    font-size: 2em;
    color: black;

    font-family: diegovainilla;

    transition: filter .25s ease-in-out, font-size .1s ease-in-out;
}

.navLink:hover {
    filter: hue-rotate(45deg);

    font-size: 2.2em;
}
.navLink:focus {
    filter: hue-rotate(250deg);

    font-size: 2.2em;
}

#topList .navLink {
    background: url('/Assets/BGs/h6c4Td5.jpg');
    background-size: 60%;
    padding: 10px;

    border: 5px solid white;
    border-right: none;
    border-left: none;
}

#bottomList .navLink {
    background: url('/Assets/BGs/2fX92Av.gif');
    background-size: 50%;
    padding: 10px;

    border: 5px solid white;
    border-right: none;
    border-left: none;
}

#bottomList #credits {
    background: url('/Assets/BGs/tumblr_ad479ccfea2121a711cc5099eff07479_82048f3a_75.gif');

    border: 5px solid black;
    border-right: none;
    border-left: none;
}

#deer{
    margin-top: 10px;
    align-self: center;
}