body {
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
}

section {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

#topList {
    margin-top: 20px;
}

#topList,
#middleList {
    margin-bottom: 20px;
}

.navLink {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;

    padding: 10px;

    transition: color .25s;
}

.navLink.UNF {
    cursor: not-allowed;
    color: red;
}

.navLink.out::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: -0.125em;
    margin-left: 5px;;

    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5'/%3E%3C/svg%3E");
}

#deer {
    margin-top: 10px;
    align-self: center;
}

h2 {
    text-align: center;
}