body {
    overflow: auto;
}

body.builtIn {
    background-color: var(--spaceDust);
    font-family: var(--fontSpace)
}

body.builtIn.dark {
    background-color: var(--nightSky);
}

#detailBarObject {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--detailBarHeight);

    margin: 0;
    padding: 0;
}

.detailBar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    height: 20px;
    padding: 0 10px;

    background: rgba(0, 0, 0, 0.171);

    font-family: cafesweet, Helvetica, sans-serif;
}

.detailBar.dark {

    background: rgba(0, 0, 0, 0.3);

    color: white;
}

#time {
    flex: 1 1;
    font-size: larger;
    padding: 2px 0;
}

.iconWrapper {
    flex: 1 1;
    font-size: 1.2em;

    display: flex;
    justify-content: flex-end;

    gap: 5px;

    padding: 1px 2px;
}

.builtIn header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 20px 5px 10px;
    font-size: 25px;

    color: white;
    font-family: var(--fontSpace);
    font-weight: bold;

    background: url("/Assets/myAssets/idolLineLogo/headerDesign.png") center/contain;

    box-shadow: 0 1px 4px rgba(0, 0, 10, 0.24);
}

.builtIn header::before {
    content: "";
    width: 20px;
    height: 20px;

    background: url(/Assets/myAssets/idolLineLogo/IdolLineDetail.png) center/contain no-repeat;
    margin-right: 3px;

    color: white;
    text-shadow: 2px 2px 0 var(--wisteria), 2px -2px 0 var(--wisteria), -2px 2px 0 var(--wisteria), -2px -2px 0 var(--wisteria), 2px 0px 0 var(--wisteria), 0px 2px 0 var(--wisteria), -2px 0px 0 var(--wisteria), 0px -2px 0 var(--wisteria);
}

.builtIn .brandButton {
    background-color: var(--wisteria);
    color: white;
    border-radius: 7px;
    border: 2px solid white;
}


.builtIn.dark .brandButton {
    background-color: var(--nightSky);
    color: white;
    border-radius: 7px;
    border: 2px solid white;
}

filler {
    color: transparent;
    font-size: 20px;
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 0;
}