*{
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 0;
}


body {
    font-family: cafesweet;
}

main{
    display: flex;
    flex-flow: column wrap;
}

h1 {
    font-family: Barbie;
    font-weight: normal;

    background: url("/Assets/BGs/pixelPaper.png");
    background-size: contain;

    color: var(--persian);

    padding: 10px 0;
    border-bottom: 5px dashed var(--water);
    border-top: 5px dashed var(--dustyPink);

}

h6 {
    font-size: 1.3em;
    font-weight: normal;

    color: var(--wisteria);

    align-self: flex-start;
}

.statsWrapper {
    display: flex;
    flex-flow: column wrap;

    gap: 10px;

    background-color: white;
    padding: 5px;
}

.statsWrapper:nth-child(odd){
    background-color: #f5f2f3;
}

#iWishYouRoses {
    background-color: var(--roseRed);
}


#iWishYouRoses h6, #iWishYouRoses p {
    color: white;
}




/* Generak */

p {
    font-size: 1.3em;
    align-self: flex-start;
    text-decoration: underline;
    text-decoration-style: dashed; /* iOS Compatibility... */
}