body{
    font-family: cafeSweet;
    overflow-x: hidden;
}

#welcomeWrapper{
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.themeWrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.themePreview{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;

    border: none;
    background-color: transparent;

    font-family: cafeSweet;
}

.themePreview:hover {
    cursor: pointer;
}

.themePreview:disabled:hover {
    cursor: not-allowed;
}

.themePreview img{
    width: 100px;
    border-radius: 11px;
}

.themePreview:disabled img {
    filter: grayscale(100%);
}