:root {

    /* Colors */
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --rosette: #ffbbc5;
    --persian: #f283b6;
    --wisteria: #8266ff;
    --kangel: #c3a3f6;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
    --water: #adcaff;
    --deepsea: #357ce6;
    --roseRed: #C71227;
    --rosePink: #FB003F;
    --blood: #800000;
    --deepslate: #696969;
    --cobblestone: #a8a8a8;

    /* New Colors */

    --leafyGreen: #64A757;
    --hibiscusPink: #F98FA5;
    --orangeCrush: #FF6429;
    --sunYellow: #F6B402;
    --bananaYellow: #FCDD64;
    --peachFruit: #FF4756;
    --limeFruit: #B9DE76;

    /* Globals */
    --globalBorderRadius: 10px;
    --detailBarHeight: 20px;
}

@font-face {
    font-family: dingBats;
    src: url('/fonts/tropicalFonts/BohoChicTropical.ttf');
}

@font-face {
    font-family: LoveBeach;
    src: url('/fonts/tropicalFonts/LoveBeach.ttf');
}

body {
    font-family: Helvetica, Arial, sans-serif;

    background: url(/Assets/BGs/water.gif);
    background-size: 10%;

    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 20px 5px 10px;

    background: linear-gradient(to bottom,
            #87ceeb,
            #f0e68c);
    box-shadow: 0 1px 4px rgba(0, 0, 10, 0.24);


    font-size: 36px;
    font-family: LoveBeach;
    font-feature-settings: "aalt";
    color: var(--leafyGreen);
}

header #left {
    transform: scaleX(-1);
}

#welcome {
    background: white;
    padding: 5px;
}

#achievements-dashboard {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.achievement-card {
    padding: 10px 5px;

    background: url("/Assets/BGs/haibisukasu01b.gif");
    background-size: 20%;
    background-position: center;

    border: 2px solid var(--peachFruit);
    border-left: none;
    border-right: none;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: color 0.2s;

    overflow: hidden;

    display: flex;
    gap: 10px;
}

.achievement-card img {
    width: 70px;
    height: 70px;

    border: 2px solid var(--rosePink);
}

.achievement-card:hover {
    color: var(--rosePink);
}

/* Themes */

.missing.achievement-card {
    filter: grayscale(100%);
}

.hidden.achievement-card {
    filter: grayscale(100%) brightness(50%);
}

.hidden.achievement-card img {
    border: 2px solid black;
}

.completed.achievement-card:hover {
    color: black;
    cursor: auto;
}

.dark.achievement-card {
    background: url(/Assets/BGs/darkMode/scratches.png);
    color: white;
}

.dark.achievement-card img {
    border: 2px solid white;
}

/* ~ Popover */

#popover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("/Assets/BGs/haibisukasu01b.gif");
    background-size: 20%;
    background-position: center;

    border: 2px solid var(--water);

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    width: 250px;
    padding: 20px;
    overflow-x: hidden;
}


#popover.noShow {
    display: none;
}

.popover-content button {
    background: var(--limeFruit);
    color: black;
    border: 1px solid var(--leafyGreen);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#progress-container {
    position: relative;
    height: 20px;
    background: white;
    margin: 10px 0;
    overflow: hidden;
    border: 2px solid var(--bananaYellow);
    border-left: none;
    border-right: none;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--leafyGreen);
    width: 0;
    transition: width 0.3s ease;
}

#progress-percentage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: black;
}

/* ~ General */

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 0;
}
