:root {
    --duration: 30s;
    --scroll-start: 0;
    --scroll-end: -100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#wrapper {
    flex: 0 1 80%;
    /* height: 50vh; */
    padding: 10px;

    display: flex;
    gap: 20px;
}

aside {
    padding: 10px;

    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

#leftSide {
    flex: 1 1;
}

#rightSide {
    flex: 1 1 10%;
}

/* Middle */

main {
    flex: 1 1 40%;

    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

main section {
    height: 206px;
    overflow: auto;
}

.boxes p::-webkit-scrollbar,
.boxes p::-webkit-scrollbar-button {
    width: 0;
}


#ryoba {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#welcome {
    padding: 10px;
}

#welcome p {
    margin-bottom: 10px;
}

#other {
    display: flex;
    flex-flow: row wrap;
}

.boxes {
    width: 100%;
}

.boxes th {
    width: 90px;
}

.boxes td {
    padding: 5px;
}

.boxes p {
    overflow: auto;
    height: 76px;
    /* accounting for border and padding*/
    scrollbar-width: none;
}

#marqueeBar {
    height: unset;
    display: flex;
    overflow: hidden;
}

/* & Marquee Bar */

.marqueeitems {
    animation: scroll-x var(--duration) linear infinite;
    flex-shrink: 0;
}

.marqueeitems img,
.marqueeitems canvas {
    display: inline-block;
    vertical-align: middle;
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@media (prefers-reduced-motion: reduce) {

    .marqueeitems {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
}

.marquee:hover .marqueeitems {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

/* Right-side */

aside section {
    height: 230px;
    overflow: auto;
    padding: 10px;
}

#quizzes img {
    width: 100%;
}

/* General */

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

/* ~ Media Queries */

@media (prefers-reduced-motion: reduce) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 810px) {
    body {
        align-items: unset;
    }

    #wrapper {
        flex: 0 1 60%;
        flex-flow: column nowrap;

        overflow-y: scroll;
    }
}


@media only screen and (max-width: 500px) {
    #wrapper {
        flex: 1 1;
        border-width: 0 !important;
    }

    aside section {
        padding: 0;
      }
}