body {
    background-image: url(/Assets/BGs/floralbouquet.jpeg);

    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    font-family: cafesweet;
}

#wrapper {
    background-color: var(--pinkIce);
    flex: 0 1 40%;

    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;
}

main {
    padding: 20px;
}

section{
    text-align: center;
}

h1 {
    font-family: FoxRelish;
    background: url("/Assets/BGs/check5-b.gif");

    border: 2px ridge white;
    box-shadow: 0px 3px 2px inset var(--whispermist);

    padding: 3px 0;
    text-align: center;
    border-radius: var(--globalBorderRadius);

    color: var(--persian);
    margin-bottom: 10px;
}

h2 {
    font-family: FoxRelish;
    background: url("/Assets/BGs/check5-p.gif");

    border: 2px ridge white;
    box-shadow: 0px 3px 2px inset var(--whispermist);

    padding: 3px 0;
    text-align: center;
    border-radius: var(--globalBorderRadius);

    color: var(--wisteria);
    margin-bottom: 10px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h3{
    text-decoration: underline 1px var(--water) double;
    margin-bottom: 5px;
}


h1::before,
h2::before {
    content: "꒰";
}

h1::after,
h2::after {
    content: "꒱";
}

h1::before,
h2::before,
h1::after,
h2::after {
    color: black;
    margin: 0 10px;
}

a {
    color: var(--wisteria);
    transition: .25s color;
}

table a{
    display: block;
}

a:hover{
    color: var(--deepsea);
    font-style: italic;
}

table {
    width: 100%;
    margin: 20px;
}

td{
    vertical-align: top;
}

hr{
    border: none;
    height: 20px;
    background: url("/Assets/pixels/fd/flowerdivider.webp") repeat-x;

    margin: 20px 0;
}