body {
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: cafesweet;
}

main {
    width: 50%;

    padding: 20px;
    padding-top: 55px;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#warnings {
    display: flex;
    justify-content: center;
    gap: 20px;

    border-radius: 10px 0 10px 10px;
    padding: 10px;

    margin-bottom: 20px;
}

.warningDisplay {
    /* min-width: 100px; */
    max-width: 120px;

    text-align: center;
}

.warningIMGs {
    display: block;
    width: 70px;
    height: 100px;
    object-fit: contain;

    margin: 0 auto;

    padding-bottom: 5px;
    margin-bottom: 5px;
}

.flexWrapper{
    display: flex;
}

#enter{
    font-size: 4em;
    font-family: maddison;
    letter-spacing: -8px;

    text-decoration: none;

    transition: color .25s;
}

#enter:hover {
    color: var(--persian);
}

/* ~ Media Queries */

@media only screen and (max-width: 810px) {
    main {
        width: unset;
        height: unset;
    }
}

@media only screen and (max-width: 500px) {
    #androses span {
        font-size: 8vw;
    }

    #warnings{
        flex-flow: row wrap;
        align-items: center;
    }
    .warningDisplay {
        flex: 0;
    }
}