
@font-face {
    font-family: EverythingWillBeOk;
    src: url('/fonts/OMORIfonts/OMORI_GAME.ttf');
}

@font-face {
    font-family: Normal;
    src: url('/fonts/OMORIfonts/OMORI_GAME2.ttf');
}

.lightbox {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: background-color 0.5s ease-in-out;
}

.lightbox.show {
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox2 {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 9999;
}

.lightbox2.show {
    pointer-events: auto;
    opacity: 1;
}

.cursor {
    position: absolute;
    bottom: 0;
    right: 0;

    background: url("../shrines/OMORI/omoriAssets/cursor.png") no-repeat center center;
    background-size: contain;

    image-rendering: pixelated;
}

.textboxContainer {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;

    justify-content: end;
    align-items: center;

    width: 100vw;
    height: 100vh;
    z-index: 9999;
    margin: auto;
}

.textboxWrapper{
    display: flex;
    flex-flow: column wrap;
}

.topWrapper{
    display: flex;
    margin-bottom: 10px;
}
.characterName{
    text-align: center;
    font-family: Normal;
    color: white;
    font-size: 2em;

    background-color: black;
    border: 3px solid white;
    max-width: 70px;
    padding: 1px 4px;
    margin: 0;

    align-self: flex-end;
}

.characterIMG{
    background-color: black;
    max-width: 200px;
    border: 3px solid white;
    margin-left: auto;
}

.textbox {
    background-color: black;
    border: solid 3px white;
    outline: solid 1px black;
    padding: 5px 0 0 14px;
    font-family: Normal;
    font-size: 30px;
    color: white;
    width: 600px;
    height: 100px;

    animation: opening .2s linear forwards;
    margin-bottom: 20px;
}

@keyframes opening {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes closing {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.textbox .cursor {
    right: 20px;
    bottom: 10px;
    animation: Next 1s infinite ease-in-out;
}

@keyframes Next {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }
}


@media only screen and (max-width: 600px) {}