:root {

    /* Colors */
    --bubblegum: #ffb7ed;
    --dustyPink: #f6bdd1;
    --persian: #f283b6;
    --wisteria: #8266ff;
    --hintofmist: #f1efff;
    --whispermist: #dbd8f0;
    --driedBlood: #8B575c;
    --pinkIce: #f6e4f6;
    --ash: #cad2c5;
    --water: #adcaff;
    --deepsea: #357ce6;
    --blood: #800000;
    --deepslate: #696969;
    --cobblestone: #a8a8a8;

    /* Rainbow Ring Colors */

    --rainbowRed: #ffadad;
    --rainbowOrange: #ffdea1;
    --rainbowYellow: #ffffb5;
    --rainbowGreen: #c2ffc2;
    --rainbowBlue: #b8d4ff;
    --rainbowIndigo: #9e97e0;
    --rainbowPurple: #cfb0ff;
    --rainbowPink: #ffd8f2;

    /* Globals */
    --globalBorderRadius: 10px;
    --detailBarHeight: 20px;
}

@font-face {
    font-family: cafesweet;
    src: url('/fonts/16ptpixels/CafeSweet.ttf');
}

@font-face {
    font-family: diegovainilla;
    src: url('/fonts/16ptpixels/DiegoVainilla.otf');
}

@font-face {
    font-family: peachsundress;
    src: url('/fonts/peachsundress.ttf');
}

@font-face {
    /* use & _ - for connectors */
    font-family: heartstyle;
    src: url('/fonts/heartstyle.ttf');
}

@font-face {
    /* Use stylistic sets ss01 - ss06 for connectors*/
    font-family: maddison;
    src: url('/fonts/Maddison.ttf');
}

@font-face {
    font-family: chalkCursive;
    src: url('/fonts/MorganChalk.ttf');
}

@font-face {
    font-family: chalk;
    src: url('/fonts/Rudiment.ttf');
}

@font-face {
    font-family: Barbie;
    src: url('/fonts/BarbieKawaii.otf');
}

@font-face {
    /* Fuzzy Font! */
    font-family: FoxRelish;
    src: url('/fonts/FoxRelish.ttf');
}

@font-face {
    font-family: MagicStars;
    src: url('/fonts/MagicStars.otf');
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
}

* {
    scrollbar-width: thin;
    box-sizing: border-box;

    scrollbar-color: var(--bubblegum) white;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bubblegum);
}

body {
    position: relative;
    overflow: hidden;

    animation: fadeInAnimation ease .55s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Simplification */

.img-fluid {
    width: 100%;
}

.flex,
.flex2 {
    display: flex;
}

.flex2 {
    flex-wrap: wrap;
}

.columnFlex1,
.columnFlex2 {
    display: flex;
    flex-direction: column;
}

.columnFlex2 {
    flex-wrap: wrap;
}

/* Global styling */

::selection {
    background-color: var(--wisteria);
    color: #ffffff;
}

mark {
    background-color: var(--wisteria);
    color: #ffffff;
}

quote {
    display: block;
    margin: 10px 0;
}

quote::before,
quote::after {
    font-size: larger;
}

quote::before {
    content: "❝";
    color: inherit;
}

quote::after {
    content: "❞";
    color: inherit;
}

.ss01 {
    font-feature-settings: "ss01" 1;
}

.ss04 {
    font-feature-settings: "ss04" 1;
}

.ss08 {
    font-feature-settings: "ss08" 1;
}

.ss09 {
    font-feature-settings: "ss09" 1;
}

/* & Titular h1 */

#androses {
    font-family: Maddison;
    letter-spacing: -5px;
    color: var(--dustyPink);
}

#androses span {
    font-size: 4vw;
    margin: 0;
}

/* & Basic Syntax for Copy and Paste */

/* <h1 id="androses" class="textshadow">
                <span style="padding-right: 10px;">I</span>
                <span>w</span>
                <span>i</span>
                <span>s</span>
                <span class="ss01">h</span>
                <span>y</span>
                <span>o</span>
                <span class="ss01">u</span>
                <span>r</span>
                <span>o</span>
                <span>s</span>
                <span>e</span>
                <span class="ss04">s</span>
            </h1> */

/* The Rainbow Ring */

.rainbowWrapper {
    position: absolute;
}

.ring1,
.ring2,
.ring3,
.ring4,
.ring5,
.ring6,
.ring7,
.ring8,
.ring9 {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ring1 {
    width: 400px;
    height: 400px;
    border: 25px solid var(--rainbowRed);
}

.ring2 {
    width: 350px;
    height: 350px;
    border: 25px solid var(--rainbowOrange);
}

.ring3 {
    width: 300px;
    height: 300px;
    border: 25px solid var(--rainbowYellow);
}

.ring4 {
    width: 250px;
    height: 250px;
    border: 25px solid var(--rainbowGreen);
}

.ring5 {
    width: 200px;
    height: 200px;
    border: 25px solid var(--rainbowBlue);
}

.ring6 {
    width: 150px;
    height: 150px;
    border: 25px solid var(--rainbowIndigo);
}

.ring7 {
    width: 100px;
    height: 100px;
    border: 25px solid var(--rainbowPurple);
}

.ring8 {
    width: 50px;
    height: 50px;
    border: 25px solid var(--rainbowPink);
}

/* Rainbow Ring End */

.rainbowbg {
    background: linear-gradient(84deg, rgba(255, 189, 200, 1) 0%, rgba(246, 255, 175, 1) 20%, rgba(205, 255, 167, 1) 40%, rgba(195, 241, 255, 1) 60%, rgba(241, 202, 245, 1) 80%, rgba(252, 206, 242, 1) 100%);
}

.textshadow {
    text-shadow: 2px 2px 0 var(--driedBlood), 2px -2px 0 var(--driedBlood), -2px 2px 0 var(--driedBlood), -2px -2px 0 var(--driedBlood), 2px 0px 0 var(--driedBlood), 0px 2px 0 var(--driedBlood), -2px 0px 0 var(--driedBlood), 0px -2px 0 var(--driedBlood);
}

.dropShadow {
    filter: drop-shadow(-1px 2px 3px rgba(0, 0, 0, 0.26));
}

.dropShadowOutlineF {
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}

.dropshadowPurple {
    box-shadow: 2px 2px 0 var(--wisteria), 2px -2px 0 var(--wisteria), -2px 2px 0 var(--wisteria), -2px -2px 0 var(--wisteria), 2px 0px 0 var(--wisteria), 0px 2px 0 var(--wisteria), -2px 0px 0 var(--wisteria), 0px -2px 0 var(--wisteria);
}

.detailing {
    position: absolute;
    background: url('/Assets/BGs/headerpink2.gif') repeat-x;
    background-size: contain;
    height: 58px;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.kerchiefBorder {
    border-style: solid;
    border-image: url("/Assets/borders/border2FP.png") 28 round;
    border-width: 28px;
    background-clip: padding-box;
}

.cloudBorder {
    border-style: solid;
    border-image: url("/Assets/borders/borderfilled.png") 8 round;
    border-width: 8px;
    background-clip: padding-box;
}

.blueberryBorder {
    border-style: solid;
    border-image: url("/Assets/borders/blueberryGingham.png") 8 round;
    border-width: 7px;
    background-clip: padding-box;
}

/* & "Emojis!" */

heartMoji {
    display: inline-block;
    background: url("/Assets/pixels/pinkheart.gif") no-repeat;
    width: 18px;
    height: 14px;

    vertical-align: text-top;
}

cloudBubbleMoji {
    display: inline-block;
    background: url("/Assets/pixels/chatbubble\(cloud\).gif") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}

pinkNewMoji {
    display: inline-block;
    background: url("/Assets/pixels/other/new!p.gif") no-repeat;
    width: 29px;
    height: 8px;

    vertical-align: text-bottom;
}
purpleNewMoji {
    display: inline-block;
    background: url("/Assets/pixels/other/new!.gif") no-repeat;
    width: 29px;
    height: 8px;

    vertical-align: text-bottom;
}

keyMoji {
    display: inline-block;
    background: url("/Assets/pixels/other/key.gif") no-repeat;
    width: 22px;
    height: 13px;

    vertical-align: text-bottom;
}

downloadMoji {
    display: inline-block;
    background: url("/Assets/pixels/other/download.gif") no-repeat;
    width: 57px;
    height: 11px;

    vertical-align: text-top;
}

bandageMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/bandage.webp") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}
bandage2Moji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/bandage2.webp") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}

bloodMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/blood.webp") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}

boxKnifeMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/boxknife.webp") no-repeat;
    width: 68px;
    height: 13px;

    vertical-align: text-bottom;
}

brokenHeartMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/brokenheart.webp") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}

PinkSyringeMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/syringep.gif") no-repeat;
    width: 15px;
    height: 15px;

    vertical-align: middle;
}

realHeartMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/realheart.webp") no-repeat;
    width: 20px;
    height: 20px;

    vertical-align: text-bottom;
}

knifeMoji {
    display: inline-block;
    background: url("/Assets/pixels/menhera/knife.webp") no-repeat;
    width: 25px;
    height: 26px;

    vertical-align: text-bottom;
}

pinkBouquetMoji {
    display: inline-block;
    background: url("/Assets/pixels/fd/pinkbouquet.gif") no-repeat;
    width: 16px;
    height: 16px;

    vertical-align: text-bottom;
}

/* There's always more to add! Go check if you need anything new! */


/* & Phone */

#phoneSpot {
    position: absolute;
    bottom: 0;
    right: 0;

    height: 100px;
    width: 350px;
}

#phone {
    height: 650px;
    width: 320px;
    border: none;

    position: absolute;
    right: 20px;
    bottom: -605px;

    /* ! For testing */
    bottom: 0;

    z-index: 1000;

    transition: bottom .5s ease-in-out;
}

#phoneSpot:hover>#phone {
    bottom: 0;
}


/* Boring Shit */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

iframe {
    border: none;
}

/* ? Media Queries */

@media (prefers-reduced-motion: reduce) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 810px) {
    .flex {
        flex-flow: column nowrap;
    }

    .flex2 {
        flex-flow: column wrap;
    }
}

@media only screen and (max-width: 500px) {}