body {
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    background: url(/Assets/BGs/darkMode/itsnotbloodipromise.gif);

    font-family: cafeSweet;
    color: white;
}

#wrapper {
    flex: 0 1 40%;
}

#harrowRingHeader {
    text-align: center;
}

#harrowRingHeader h1 {
    font-family: heartblood;
    text-transform: lowercase;

    letter-spacing: -5px;
    line-height: 1em;
    font-weight: normal;

    color: var(--rosePink);
    -webkit-text-stroke: .4px white;
}

#harrowRingHeader h1 span {
    font-size: 8rem;
}

section {
    height: 60vh;

    background-color: black;
    border: 5px solid var(--blood);
    border-bottom: none;

    display: flex;
    flex-flow: column nowrap;

    border-radius: var(--globalBorderRadius) var(--globalBorderRadius) 0 0;
}

nav {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;

    background-color: black;
    border: 5px solid var(--blood);
    border-top: none;

    border-radius: 0 0 var(--globalBorderRadius) var(--globalBorderRadius);

    margin-bottom: 10px;
}

nav a {
    flex: 1 1;
    display: block;

    background-color: var(--roseRed);
    padding: 20px 0;
    border: 1px solid black;

    font-family: Witch;
    color: black;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

nav .active {
    background-color: var(--rosePink);
}

section {
    padding: 20px;
    flex: 1 1 100%;
}

header {
    background-color: var(--blood);
    text-align: center;

    /* ! Voids the padding on main */
    margin: -20px;
    margin-bottom: 10px;

    padding: 10px;
}

/* ~ Content */

/* & Snippets */

#aestheticSnippets {
    height: 170px;
    overflow: auto;
}

.snippet {
    display: flex;
    padding: 10px;

    border-radius: var(--globalBorderRadius);
    margin-bottom: 10px;
}

.snippet img {
    max-height: 140px;
    aspect-ratio: 1;
}

.snippet .textWrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px;
}

.snippet p {
    flex: 1 1;
    font-size: .9em;

    max-height: 140px;
    overflow: auto;
}

.snippet a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;

    border-radius: 5px;
    padding: 2px 5px;
}

.snippet a::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5'/%3E%3C/svg%3E");
    margin-left: 5px;
}

/* ! Yandere */

#Yandere {
    background-color: var(--pinkIce);
    color: black;
}

#Yandere img {
    mask:
        radial-gradient(at 70% 31%, #000 29%, #0000 30%),
        radial-gradient(at 30% 31%, #000 29%, #0000 30%),
        linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

#Yandere a {
    color: black;

    background-color: var(--rosePink);
}

/* ? Analog Horror */

#AnalogHorror {
    background-color: #016BFF;
    color: white;
}

#AnalogHorror img {
    object-fit: cover;
    border-radius: 20px;
}

#AnalogHorror a {
    color: white;

    background-color: var(--deepslate);
}

/* ^ WeirdCore */

#WeirdCore {
    background: url("/Assets/BGs/yellowflowers.gif");
    color: black;
}

#WeirdCore img {
    object-fit: cover;
    border-radius: 20px;
}

#WeirdCore a {
    color: black;

    background-color: var(--rainbowGreen);
}

/* Morute */

#Morute {
    background: url("/Assets/BGs/tex2.png");
    color: black;
}

#Morute img {
    object-fit: cover;
    border-radius: 20px;
}

#Morute a {
    color: black;

    background-color: var(--rosette);
}

/* ! Creepy Cute */

#CreepyCute {
    background: url("/Assets/BGs/tex2.png");
    color: black;
}

#CreepyCute img {
    object-fit: cover;
    border-radius: 20px;
}

#CreepyCute a {
    color: black;

    background-color: var(--rosette);
}

/* & Rules */

#thanks {
    text-align: center;
    color: var(--persian);
}

/* & Join */

#formInput {
    width: 100%;
    height: 200px;
}

/* & Widget */

#copyPaste {
    width: 100%;
    height: 60px;
}

/* & Members */

#index {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.memberCard {
    flex: 1 0 calc((100% / 2) - 10px);
    margin-left: 10px;
    margin-bottom: 10px;

    min-height: 210px;

    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    border: 2px dashed var(--dustyPink);
    padding: 10px;

    border-radius: var(--globalBorderRadius);
}

.profilePic {
    flex: 0 1 50%;
    max-height: 150px;
    aspect-ratio: 1;
    border-radius: var(--globalBorderRadius);
}

.detailWrapper {
    flex: 1 1;
}

.webmasterName {
    font-size: 1.5em;
}

.memberCard .description {
    font-size: 1em;
    height: 100px;
    overflow: auto;

    margin-bottom: 10px;
}

.linksNtags {
    flex: 1 0 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.siteButton {
    text-decoration: none;
}

.nsfw-warning {
    background-color: black;
    padding: 5px 10px;
    border-radius: var(--globalBorderRadius);
    color: yellow;
}

/* & Themes */

.style-yandere {
    background: linear-gradient(180deg, rgba(251, 0, 63, .5) 0%, rgba(242, 131, 182, .5) 100%), url("/Assets/BGs/menheraBG2.png");
    background-size: contain;
    background-blend-mode: multiply;

    color: black;
}

.style-yandere .webmasterName {
    font-family: Angela;

    font-size: 3em;
    line-height: .7em;
}

.style-yandere a {
    color: black;
}

.style-morute {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url("/Assets/BGs/morute.jpg"); 
    background-size: cover;
    background-position: center;

    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.style-morute a {
    color: black;
}

/* ~ General */

mark {
    background-color: var(--roseRed);
    padding: 0 5px;
}

p {
    font-size: 1.5em;
}

ol {
    height: 450px;
    overflow: auto;
}

ol li {
    font-size: 1.3em;
    margin-bottom: 10px;
}

button {
    background-color: var(--driedBlood);
    border-radius: 5px;
    border: 1px solid gray;
    color: white;
}

* {
    scrollbar-width: thin;
    box-sizing: border-box;

    scrollbar-color: var(--deepslate) lightgray;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: lightgray;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--deepslate);
}

/* ~ Media Queries */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 810px) {
    #wrapper {
        flex: 1 1;
    }
}

@media only screen and (max-width: 500px) {
    body {
        overflow-y: auto;
        align-items: baseline;
    }
    #rules .content {
        overflow: auto;
    }
}