:root {
    --MWgreengray: #b3b79f;
    --MWgreen1: #708b75;
    --MWgreen2: #5d6f53;
    --MWgreen3: #c3e2cc;
    --MWyellow: #f3fed0;
    --MWbluegray: #a8b5c0;
    --MWblue1: #dce9f2;
    --MWblue2: #c5dce8;
    --MWblue3: #5e7586;
}