body{
    background: black;
    color: white;
}

#userIcon{
    border: 5px solid var(--wisteria);
}
.settingsWrapper {
    background-color: var(--nightSky);
}

.settingsWrapper:nth-child(odd){
    background-color: #0e005e;
}

.settingsWrapper button:hover {
    background-color: white;
}