#userIcon{
    border: 5px solid var(--wisteria);
}

.settingsWrapper {
    background-color: var(--spaceDust);
}

.settingsWrapper:nth-child(odd){
    background-color: #a9b1bd;
}

.settingsWrapper button:hover {
    background-color: white;
}