body {
    height: 100vh;

    font-family: cafesweet;

    background: url('/Assets/BGs/tex2.png');
}

#top {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background: url("/Assets/kpop/xg/renders/shootingstars1.png"), url("/Assets/kpop/xg/bgs/shootingstarsbg.png");
    background-size: cover;
    background-position: bottom;
    height: 45%;

    border-bottom: 5px solid black;
}

h5{
    font-family: BTS;
    font-size: 2em;
    color: var(--whispermist);
    -webkit-text-stroke: .4px black;
}

hr {
    margin: 0;
    margin-bottom: 10px;
    border: 2px dashed var(--ash);
}

#navButtons{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;

    margin: 0 5px;
}

#navButtons button{
    background-color: var(--hintofmist);
    border: 1px solid black;
    border-radius: var(--globalBorderRadius);

    font-family: cafesweet;
    font-size: larger;

    width: 100%;
    padding: 5px;
}